@charset "utf-8";
li {
	display: inline;
  }

body {
  margin: 0;
  background: #fbe5d6;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f4b183;
  box-shadow: 0px 2px #993300;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #993300;
  font-size:20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

ul.topnav li a:hover:not(.active) {background-color: #99330054;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.button {
  background:#993300;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  margin: 20px;
  width: 180px;
  height: 270px;
  transition: 0.3s;
  overflow:hidden;
  float: left;
}
/* On mouse-over, add a deeper shadow */
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cards-container {
  column-count: 5;
}

.cards-container div {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  margin: 20px;
  width: 180px;
  height: 270px;
  transition: 4s;
  overflow:hidden;
}
.cards-container div:first-child {
  margin: 0;
} */

img {
  width:100%;
  min-height:100%;
  object-fit: fill;
}

        